<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="Thymeleaf" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>index</h1>

<div>
    <shiro:hasRole name="admin">
    <h5>管理员</h5>
    </shiro:hasRole>
    <shiro:hasRole name="user">
    <h5>普通用户</h5>
    </shiro:hasRole>

    <shiro:notAuthenticated>
        　　12
    </shiro:notAuthenticated>

    <shiro:authenticated>　　
        23
    </shiro:authenticated>
</div>
</body>
</html>